<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        td {
            width: 20%;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- ====================遍历数组=====================  -->
        <table>
            <th>遍历数组</th>
            <tr>
                <td>
                    <p v-for="item in list">{{item}}</p>
                </td>
                <td>
                    <p v-for="(item,i) in list">{{item.name}}---i={{i}}</p>
                </td>
                <td>
                    <!-- key要唯一   提升渲染性能-->
                    <p v-for="(item,i) in list" :key="i">{{item.name}}---key={{i}}</p>
                </td>
        </table>


        <hr>
        <!-- ====================遍历对象=====================  -->
        <table>
            <th>遍历对象</th>
            <tr>
                <td>
                    <p v-for="value in student">{{value}}</p>
                </td>
                <td>
                    <p v-for="(value,key) in student">{{key+'的属性值='+value}}</p>
                </td>
                <td>
                    <p v-for="(value,key,i) in student" :key="i">{{key+'的属性值='+value+'---索引='+i}}</p>
                </td>
            </tr>
        </table>


        <hr>
        <p>迭代数字:</p>
        <!-- v-for迭代数字  从 1 开始 -->
        <p v-for="count in 5">第 {{count}} 次循环</p>
    </div>
</body>
<script>
    let vue = new Vue({
        el:"#app",
        data:{
            list:[
                {name:"张三",sex:'男'},
                {name:'李四',sex:'男'},
                {name:'小红',sex:'女'},
                {name:'小梅',sex:'女'}
            ],
            student:{
                stu01:'张三',
                stu02:'李四',
                stu03:'王五',
                stu04:'赵六'
            }
        }
    })
</script>
</html>