<!DOCTYPE html>
<html lang="en" xmlns:v-model="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue练习</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="num01">

    <select v-model="opt">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>

    <input type="text" v-model="num02">

    <input type="button" value="=" @click="calc">

    <input type="text" v-model="result">

    <hr>
    <!-- v-model 和 v-bind  -->
    <p>v-bind 动态绑定属性 不能双向</p>
    <p>v-model 双向绑定 只能用在表单数据中</p>
    <pre>
        <p>语法一：v-model:value = "key"</p>
        <input type="text" v-model:value="num01">

        <p>语法二：v-model = "key"</p>
        <input type="text" v-model="num02">
    </pre>

</div>

</body>
<script>
    let vue = new Vue({
        el:"#app",
        data:{
            num01:0,
            num02:0,
            opt: '+',
            result:0
        },
        methods:{
            calc(){//计算器计算方法
                switch (this.opt) {
                    case "+":
                        this.result = parseInt(this.num01) + parseInt(this.num02);
                        break;
                    case "-":
                        this.result = parseInt(this.num01) - parseInt(this.num02);
                        break;
                    case "*":
                        this.result = parseInt(this.num01) * parseInt(this.num02);
                        break;
                    case "/":
                        this.result = parseInt(this.num01) / parseInt(this.num02);
                        break;
                }
            }
        }
    })
</script>
</html>